.badge {
  position: relative;
}

.badge span {
  border: 4px solid var(--WHITE);
  border-radius: 50%;
  position: absolute;
}

.badge--online span {
  padding: 0.7rem;
  background-color: var(--GREEN);
  top: 7.3rem;
  right: 1.1rem;
}

.badge--dnd span {
  padding: 0.5rem;
  background-color: var(--RED);
  top: 5.9rem;
  right: 1.1rem;
  border: 4px solid var(--WHITE);
}

.badge--offline span {
  padding: 0.3rem;
  background-color: var(--GREY);
  top: 3.8rem;
  left: 3.5rem;
  border: 3px solid var(--WHITE);
}

.badge__count span {
  background-color: var(--GREEN);
  padding: -1.8rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  top: -6px;
  left: 19px;
  border: 2px solid var(--WHITE);
  font-size: 15px;
}
