.input_field {
  position: relative;
}

.input_field input {
  padding: 0.7rem;
  min-width: 5rem;
  outline: none;
}

.input_field .input__label {
  position: absolute;
  left: 0;
  bottom: 33px;
  background-color: white;
  left: 14px;
}

.input--success > input {
  border: 2px solid var(--INPUT-SUCCESS);
}
.input--success .input__label {
  color: var(--INPUT-SUCCESS);
}

.input--warn > input {
  border: 2px solid var(--INPUT-WARN);
}

.input--warn .input__label {
  color: var(--INPUT-WARN);
}

.input--error > input {
  border: 2px solid var(--INPUT-ERROR);
}

.input--error .input__label {
  color: var(--INPUT-ERROR);
}
