
.modal {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 5rem 0rem;
  background: var(--Text-OVERLAY-BG);
}

.modal__content {
  border: 1px solid var(--WHITE);
  width: 50%;
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 15rem;
  background-color: var(--WHITE);
  margin-left: auto;
  margin-right: auto;
}

.modal .width-100 {
  width: 100%;
}

.modal .close {
  font-size: 2rem;
  right: 2.3rem;
  color: var(--GREEN-DARK);
}
