.code-Snippet div.code-toolbar > .toolbar {
  opacity: 1;
  top: 0.8em;
  right: 1.6em;
}

.code-Snippet pre[class*="language-"] {
  border: none;
  max-height: 30rem;
  background: var(--BLACK);
}

.code-Snippet .language-markup .token {
  color: var(--RED-DARK);
}

.code-Snippet .language-markup .token.tag {
  color: var(--WHITE);
}

.code-Snippet div.code-toolbar > .toolbar > .toolbar-item > button {
  position: relative;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  background: var(--GREEN-LIGHTER);
  color: var(--BLACK);
  cursor: pointer;
  opacity: 0.92;
  transition: all 0.5s ease-in-out 0s;
}

.code-Snippet div.code-toolbar > .toolbar > .toolbar-item > button:hover {
  font-weight: 600;
  background: var(--GREEN-DARK);
  color: var(--WHITE);
  cursor: pointer;
  opacity: 0.95;
  transition: all ease-in-out 0.5s;
}

.code-Snippet div.code-toolbar > .toolbar > .toolbar-item > button:active {
  top: 1px;
}

.code-Snippet pre[class*="language-"] {
  border: none;
  max-height: 20rem;
  border-radius: 8px;
  background: var(--CODE-SNIPPET-BG);
}
.code-Snippet .token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
  color: var(--CODE-SNIPPET-COPY-BTN);
}

.code-Snippet code[class*="language-"],
.code-Snippet pre[class*="language-"] {
  color: var(--CODE-SNIPPET-LANG);
  font-size: 1.3rem;
}

.code-Snippet div.code-toolbar>.toolbar {
      right: 2.6em;
}
