.d-flex-col {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  column-gap: 0.7rem;
}

.row-gap-5 {
  row-gap: 5px;
}

hr {
  margin: 1.5rem 1rem;
}

.primary--light-color {
  color: var(--GREEN-LIGHT);
}

.close-container {
  position: relative;
}

.close {
  position: absolute;
  right: 8px;
  top: 8px;
  /* width: 18px; */
  color: red;
  opacity: 0.5;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}

.d-flex-wrap {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.font-weight-600 {
  font-weight: 600;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mt-mb-1 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.margin-left-auto {
  margin-left: auto;
}

.d-flex-align-center {
  display: flex;
  align-items: center;
}

.display-none {
  display: none;
}

.width-100 {
  width: 100%;
}