.d-flex-col {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  column-gap: 0.7rem;
}

hr {
  margin: 1.5rem 1rem;
}

.primary--light-color {
  color: var(--GREEN-LIGHT);
}

.close-container {  
  position: relative;
}

.close {
  position: absolute;
  right: 8px;
  top: 8px;
  /* width: 18px; */
  color: red;
  opacity: 0.5;
}

.close:hover {
  opacity: 1;
}