.grid {
    display: grid;
}

.grid-item {
    border: 1px solid var(--WHITE);
    padding: 1rem;
    background-color: var(--GRID-ITEM);
}

.grid-columns-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-rows-2 {
    grid-template-rows: 1fr 1fr;
}

.grid-columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-rows-3 {
    grid-template-rows: 1fr 1fr 1fr;
}