.btn {
  cursor: pointer;
  border: none;
  opacity: 0.95;
  padding: 0.8rem;
  min-width: 10rem;
  text-align: center;
  outline: none;
  width: 10rem;
  font-size: 1rem;
}

.btn--primary {
  background-color: var(--GREEN);
}

.btn--primary:hover,
.btn--outlined.btn--primary:hover {
  background-color: var(--GREEN-DARK);
  color: var(--WHITE);
}

.btn--secondary {
  background-color: var(--GREEN-LIGHTER);
}

.btn--secondary:hover,
.btn--outlined.btn--secondary:hover {
  background-color: var(--GREEN-LIGHT);
  color: var(--WHITE);
}

.disabled {
  cursor: none;
  color: var(--GREY);
  background-color: var(--DISABLED--GREY-DARK);
  pointer-events: none;
}

.btn--outlined {
  background-color: var(--WHITE);
}

.btn--outlined.btn--primary {
  border: 1px solid var(--GREEN);
}

.btn--outlined.btn--secondary {
  border: 1px solid var(--GREEN-LIGHTER);
}

.btn--outlined.disabled {
  border: 1px solid var(--DISABLED--GREY-DARK);
  color: var(--DISABLED-GREY);
}

.btn__icon span {
  margin-right: 1rem;
}

.btn__floating {
  border: 3px solid var(--WHITE);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 5px 5px 9px 3px var(--GREY);
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
}

.link {
  color: var(--GREEN);
}

.link:hover {
  color: var(--GREEN-DARK);
}

.link.disabled {
  background-color: var(--WHITE);
  color: var(--GREY);
}

.btn__link {
  font-size: 1.5rem;
}

.btn__icon {
  border: 0px;
  background-color: var(--WHITE);
}

.btn a {
  text-decoration: none;
  color: black;
}