.search-box {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
}

.search-box input {
  padding: 0.5rem;
  outline: none;
}

.search-box > div {
  position: relative;
}

.search-box input {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  outline: none;
}

.search-box i {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  font-size: 1rem;
}

 .navbar {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--GREEN-DARK);
}

ul.navbar>li:last-child {
  margin-right: 1.12rem;
  margin-left: auto;
}

.navbar li img {
  width: 5rem;
  height: 4rem;
  object-fit: cover;
}

.navbar li {
  font-size: 1.15rem;
}

.navbar > li:nth-child(2) {
  color: var(--GREEN-DARK);
  font-weight: 400;
  font-size: 1.5rem;
}

.navbar__social {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.navbar__sub-heading {
  display: flex;
  flex: 1;
  justify-content: center;
  column-gap: 2rem;
  margin: auto;
}

.navbar--background {
  border: 1px solid var(--GREEN-DARK);
}

 .navbar a {
  text-decoration: none;
  color: var(--GREEN-DARK);

} 

.navbar>li:nth-child(1) {
  display: flex;
}

.navbar>li:nth-child(1) p{
align-self: center;
padding-left: 5px;
}

